body {
  margin: 0;
  box-sizing: border-box;
}

.letsTalk::after {
  content: " ➡";
  color: '#ffc004'
}

@media screen and (max-width: 900px) {
  .HeadAndSub {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    align-content: center;
    padding-top: 5rem;
  }
  
  .callToAction {
    flex-direction: column;
  }

  .navBar {
    flex-direction: column;
  }

  .contactButton {
    align-self: center;
  }

}
