body {
  margin: 0;
  box-sizing: border-box;
}

.letsTalk::after {
  content: " ➡";
  color: '#ffc004'
}

@media screen and (max-width: 900px) {
  .HeadAndSub {
    display: flex;
    flex-wrap: wrap;
    /* background-color: red; */
    padding-top: 5rem;
  }
  
  .callToAction {
    flex-direction: column;
    
  }

}
